:root {
  --color-primary-grey: rgb(109, 104, 117);
  --color-primary-darkpink: rgb(181, 131, 141);
  --color-primary-pink: rgb(229, 152, 155);
  --color-primary-beige: rgb(255, 205, 178);
  --color-primary-orange: rgb(255, 180, 162);
}
